/* ================================= */
/* ----------- COLORS CSS ---------- */
/* ================================= */

a:hover {
    color: #e82c40;
}
.bg-color-blue {
    background: #e82c40;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #e82c40;
    color: #fff !important;
}
.line_6 {
    background: #e82c40;
}
a:hover,
a:focus {
    color: #e82c40;
}
.single-query option {
    background: #e82c40;
}
.feature-box .icon {
    background-color: #e82c40;
}
.feature-box .icon:after {
    border-color: transparent #e82c40 transparent transparent;
}
.link-arrow:hover::after {
    color: #e82c40;
}
#image-text .image-text-heading span {
    color: #e82c40;
}
.image-text-heading > a:hover {
    color: #e82c40;
}
.line1,
.line2 {
    background-color: #e82c40;
}
.line1,
.line2 {
    background-color: #e82c40;
}
.btn-theme-colored {
    color: #e82c40;
}
.bg-theme-color-2 {
    background: #e82c40;
}
.styled-icons.icon-bordered a:hover {
    background-color: #e82c40;
}
.page-title a:hover {
    border-bottom: 1px solid #e82c40;
}
.line1,
.line2 {
    background-color: #e82c40;
}
.social-icons a {
    color: #e82c40;
}
.loader {
    background: #e82c40;
}
.white_border:hover,
.white_border:focus {
    color: #e82c40;
}
.dark_border:hover,
.dark_border:focus {
    border: 1px solid #e82c40;
    background: #e82c40;
}
.header-login {
    background: #e82c40;
}
#nav_slider .item .nav_tag.yellow {
    background: #e82c40;
}
#nav_slider .owl-next:hover,
#nav_slider .owl-prev:hover {
    background: #e82c40;
}
#nav_slider .item {
    background: #e82c40;
}
.query-title {
    background: #e82c40;
}
.single-query option {
    background: #e82c40;
}
.property-page-bg .query-submit-button.pull-right > input[type="submit"] {
    background: #e82c40;
}
.intro .dropdown li.current {
    background-color: #e82c40;
}
.reward_box .icon {
    background-color: #e82c40;
}
.reward_box .icon:after {
    border-color: transparent #e82c40 transparent transparent;
}
#image-text .image-text-heading span {
    color: #e82c40;
}
.line1,
.line2 {
    background-color: #e82c40;
}
.btn-theme-colored {
    color: #e82c40;
}
.bg-theme-color-2 {
    background: #e82c40 !important;
}
.page-title a:hover {
    border-bottom: 1px solid #e82c40;
}
nav.navbar.bootsnav .navbar-toggle {
    background: #e82c40 !important;
}
.color_red {
    color: #e82c40;
}
.loader {
    background: #e82c40;
}
.socials li a:hover,
.socials li a:focus {
    background: #e82c40;
    border-color: #e82c40;
}
.bg_red {
    background: #e82c40;
}
.line_4,
.line_5,
.line_6 {
    background: #e82c40;
}
.link_arrow:hover::after,
.link_arrow:focus::after {
    color: #e82c40;
}
#header-top .header-top-links ul li a:hover {
    color: #e82c40;
}
nav.navbar.bootsnav ul.nav > li > a:hover,
nav.navbar.bootsnav ul.nav > li > a:focus,
nav.navbar.bootsnav ul.nav > li.active > a {
    color: #e82c40 !important;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover,
nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:focus {
    background: #e82c40;
}
.reward_meta {
    background: #e82c40;
}
.mb20 form a.button {
    background: #e82c40;
}
.image-label label {
    background-color: #e82c40;
}
.bg-color-red {
    background: #e82c40;
}
.nav-tabs > li > a > .fa{
    color: #e82c40;
}
.rev_slider_wrapper #rev_slider_3 .slide-content{
    border-left: 3px solid #e82c40;
}
.rev_slider_wrapper #rev_slider_3 .slide-content .title{
    color: #e82c40;
}
.btn_fill {
    background: #e82c40;
}
#addon-sev .addon-box .addon-box-overlay {
    background: #e82c40;
}
#addon-sev .addon-box .addon-box-overlay {
    background: #e82c40;
    text-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    margin: 0 auto;
    justify-content: center;
}
a.back-to {
    background: #e82c40;
}
